body {
  background-image: url(../images/background.png);
  background-size: cover;

}

/*
!*#obiwon-image {
	height: 64px;
	width: 64px;

}*!
#luke-image {
	height: 128px;
	width: 128px;
	border-style: solid;

}
#darth-image {
	height: 128px;
	width: 128px;
	border-style: solid;

}
#quagmire-image {
	height: 128px;
	width: 128px;
	border-style: solid;
}*/
