body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.img-thumbnail {
    border:3px;
    border-style: solid;
    border-color: darkred;
}

